<div class="container h-100 py-5">
  <div class="d-flex justify-content-between">
    <h3>Personal Blog</h3>
    <button
      type="button"
      class="add cursor-pointer border-0 bg-transparent"
      data-bs-toggle="modal"
      [attr.data-bs-target]="'#' + modalId"
      (click)="getModalId('Create', null)"
    >
      Add +
    </button>
  </div>

  <table class="table table-borderless">
    <tbody>
      @for(blog of personalBlogs;track blog){
      <tr>
        <td class="cursor-pointer" (click)="getSingleBlog(blog)">
          {{ blog.name }}
        </td>
        <td class="date">{{ blog.date | date : "shortDate" }}</td>
        <td class="control">
          <button
            type="button"
            class="add cursor-pointer border-0 bg-transparent"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#' + modalId"
            (click)="getModalId('Edit', blog)"
          >
            Edit
          </button>
        </td>
        <td class="cursor-pointer control" (click)="deleteBlog(blog.id)">
          Delete
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Modal -->
  <app-form-modal
    #formModal
    [header]="header"
    [modalId]="modalId"
    (formValuesEmitter)="getFormValue($event)"
  ></app-form-modal>
</div>
