<form [formGroup]="formName" novalidate class="has-validation">
  <div class="input-group">
    <input
      [id]="field.fieldName"
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      class="form-control"
      placeholder="Enter password"
      [ngClass]="
        formName.controls[field.fieldName].invalid &&
        (formName.controls[field.fieldName].dirty ||
          formName.controls[field.fieldName].touched)
          ? 'is-invalid'
          : ''
      " />
    <span
      class="input-group-text"
      (click)="togglePasswordVisibility()"
      (keydown.enter)="togglePasswordVisibility()"
      (keyup.space)="togglePasswordVisibility()"
      tabindex="0">
      <i
        class="bi"
        [ngClass]="hidePassword ? 'bi-eye-slash' : 'bi-eye'"
        aria-hidden="true"></i>
    </span>
  </div>
</form>
