<div
  class="modal fade"
  [id]="modalId"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ header }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeButton
        ></button>
      </div>
      <form>
        <div class="modal-body">
          <app-dynamic-form
            #dynamicForm
            [model]="formModel"
            [buttonName]="buttonName"
            (formValuesEmitter)="emitFormValue($event)"
          ></app-dynamic-form>
        </div>
      </form>
    </div>
  </div>
</div>
